



// colors
$primary: #8BAA4D;
// $primary: #8dc63f;
$secondary: #AA4D8B;
// $secondary: #6C4DAA;
$dark: #324026;
$warning: #F4E87B;
$info: #E698F2;
$danger: #E84736;
$white: #ffffff;
$light: #fafafa;


// typhography color 
$heading-color: $dark;
$title-color: $dark;
$sub-title-color: $dark;
$text-color: lighten($color: #000, $amount: 50);
$small-text-color: $dark;

// background color 
$bg-light: $light;
$bg-deep: #F3F3F3;
$bg-white: $white;
$bg-dark: $dark;
$bg-primary-opacity-80: #8BAA4D80



