
// Jost font primary
// @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

// Playwrite
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

// font-family: "Exo 2", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&display=swap');

// Rubik font secondary
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


// @font-face {
//     font-family: Sanset;
//     src: url(/fonts/Sanset.ttf);
//  }

//font family
// $primary-font : "Jost", sans-serif;
// $primary-font : "Playwrite DE Grund", cursive;
$primary-font : "Exo 2", sans-serif;
$secondary-font : "Rubik", sans-serif;

h1,h2,h3,h4,h5,h6{
    font-family: $primary-font;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: $secondary-font;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


// fonts sizes
$extra-small: 0.5rem;
$small: 0.75rem;
$medium: 0.875rem;
$large: 1rem;
$extra-large: 1.5rem;

// fonts weight
$thin: 100;
$extra-light: 200;
$font-light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;