@use "../base/index" as *;
@use "../partials/variables" as *;


.btn {
    color: $white;
    font-size: 18px;
    font-weight: $medium;
    padding: 16px 36px 14px 36px;
    border: none;
    position: relative; // Required for the pseudo-element positioning
    overflow: hidden; // Hide the overflow for the effect
    z-index: 1;
    transition: color 0.4s ease; // Transition only for text color change
    // text-transform: uppercase;
}


.btn-primary {
    background: linear-gradient(90deg, $primary, lighten($primary, 16));
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background: linear-gradient(90deg, $secondary, lighten($secondary, 16));
        z-index: -1;
        transition: width 0.6s ease, left 0.6s ease; // Animation for box-out effect
    }
    &:hover {
        color: $white;
        &::before {
            width: 200%; // Double the width to ensure full coverage
            left: -50%; // Move left to start the expansion from center
        }
    }
}
.btn-secondary {
    background: linear-gradient(90deg, $secondary, lighten($secondary, 16));
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background: linear-gradient(90deg, $primary, lighten($primary, 16));
        z-index: -1;
        transition: width 0.6s ease, left 0.6s ease; // Animation for box-out effect
    }
    &:hover {
        color: $white;
        &::before {
            width: 200%; // Double the width to ensure full coverage
            left: -50%; // Move left to start the expansion from center
        }
    }
}



// bg class
.bg-primary{
    background: $primary !important;
}
.bg-secondary{
    background: $secondary !important;
}
.bg-dark{
    background: $dark !important;
}
.bg-danger{
    background: $danger !important;
}
.bg-white{
    background: $white !important;
}
.bg-light{
    background: $light !important;
}
.bg-info{
    background: $info !important;
}
.bg-warning{
    background: $warning !important;
}



// text class 
.text-gradient {
    // background: linear-gradient(90deg, rgba(251, 120, 120, 1) 0%, rgba(255, 175, 116, 1) 100%);
    background: linear-gradient(90deg, $secondary 0%, lighten($secondary, 16) 100%);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent; /* Hide the default text color */
}

.text{
    color: $text-color;
    font-size: 16px;
    line-height: 28px;
}
.card-text{
    color: $text-color;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.text-primary{
    color: $primary !important;
}
.text-dark{
    color: $dark !important;
}
.text-warning{
    color: $dark !important;
}
.text-light{
    color: $light !important;
}
.text-light{
    color: $white !important;
}
.text-danger{
    color: $danger !important;
}
.text-info{
    color: $info !important;
}

// link class 
.text-link{
    color: $primary;
    &:hover{text-decoration: underline;}
}

.link{
    color: $primary;
    font-size: 0.875rem;
    &:hover{
        color: darken($color: $primary, $amount: 10)
    }
}
.link-light{
    color: darken($color: $light, $amount: 40 ) !important;
}

// heading class 
.heading{
    font-weight: $bold;
    color: $dark;
    font-size: 70px;
    line-height: 100px;
}

.sub-heading{
    font-size: 24px;
    color: $secondary;
    line-height: 22px;
    font-weight: $semibold;
    text-transform: uppercase;
    @extend .text-gradient;
}

.section-padding{padding: 70px 0;}
.section-heading{
    font-size: 48px;
    font-weight: $bold;
    text-align: center;
    color: $dark;
    text-transform: capitalize;
    margin-bottom: 24px;
}

// title class
.title{
    // font-weight: $semibold;
    color: $dark;
    font-size: 24px;
    line-height: 35px;
    font-weight: $bold;
    transition: .3s;
    font-weight: $bold;
    // &:hover{
    //     @extend .text-gradient;
    // }
}
.card-title{
    font-weight: $semibold;
    color: $secondary;
    font-size: 16px;
}


.hr{
    border: none;
    height: 1px; 
    background-color: lighten($color: $dark, $amount: 16);
    opacity: .1;
    margin: 1rem 0;
}
.hr-light{
    @extend .hr;
    background-color: lighten($color: $dark, $amount: 40);
}


// media start
@media (max-width: 1400px) {
    .heading{font-size: 60px; line-height: 80px;}
    .sub-heading{font-size: 18px; }
    .text{font-size: 16px;}
    .btn {padding: 14px 34px 13px 34px; font-size: 16px; }

    .bg-object-left{left: -100px ; }
    .bg-object-right{ right: -100px; }
}


@media (max-width: 1200px) {
    .section-heading{
        font-size: 32px;
        // margin-bottom: 24px;
    }
    .heading{
        font-size: 42px; 
        line-height: 60px;
    }
    .sub-heading{font-size: 16px; }
    .title{
        font-size: 20px;
    }
    .btn {padding: 12px 32px 11px 32px;
         font-size: 14px; 
        }

}


@media (max-width: 992px) {
    .section-heading{
        font-size: 28px;
        // margin-bottom: 24px;
    }
    .section-padding{padding: 50px 0;}
    .heading{
        font-size: 32px; 
        line-height: 40px;
    }
    .sub-heading{font-size: 15px; }
    .title{
        font-size: 18px;
    }
    .text{font-size: 14px;}
    .btn {padding: 10px 30px 9px 30px;
         font-size: 14px; 
        }

}


@media (max-width: 768px) {

    .heading{
        font-size: 24px; 
        line-height: 30px;
    }
    .sub-heading{font-size: 13px; }
    .title{
        font-size: 16px;
    }
    .text{font-size: 13px; line-height: 24px;}
    .btn {padding: 7px 14px 6px 14px;
         font-size: 13px; 
        }
}

@media (max-width: 768px) {
  

    .heading{
        font-size: 24px; 
        line-height: 30px;
    }
    .sub-heading{font-size: 16px; }
    .title{
        font-size: 16px;
    }
    .text{font-size: 13px; line-height: 24px;}
    .btn {padding: 7px 14px 6px 14px;
         font-size: 13px; 
        }
}

@media (max-width: 576px) {
    .section-heading{
        font-size: 20px;
        // margin-bottom: 24px;
    }
    .section-padding{padding: 40px 0;}
    .heading{
        font-size: 24px; 
        line-height: 30px;
    }
    .sub-heading{font-size: 13px; }
    .title{
        font-size: 14px;
    }
    .text{font-size: 13px; line-height: 24px;}
    .card-text{font-size: 12px; line-height: 20px;}
    .btn {padding: 5px 14px 6px 14px;
         font-size: 12px; 
        }
}

