@use "../base/" as *;
@use "../partials/" as *;

.industries-card{
    position: relative;
    height: 100%;
    transition: .4s;
    box-shadow: $shadow-sm;
    overflow: hidden;
    &:hover{box-shadow: $shadow-lg}
    .industries-cover{
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
    .industries-logo{
        width: 134px;
        height: 134px;
        position: absolute;
        top: 60px;
        left: 30px;
        border: 4px solid $bg-white;
    }
    .title{margin-top: 16px;}
}

@media (max-width: 1200px) {
    .industries-card{
        .industries-cover{
            height: 140px;
        }
        .industries-logo{
            width: 124px;
            height: 124px;
            top: 50px;
            left: 24px;
        }
        .card-title{font-size: 14px}
    }
}

@media (max-width: 576px) {
    .industries-card{
        .industries-cover{
            height: 120px;
        }
        .industries-logo{
            width: 100px;
            height: 100px;
            top: 50px;
            left: 24px;
            border: 3px solid $bg-white;
        }
        .title{margin-top: 14px;
            font-size: 18px;
        }
        .card-title{font-size: 13px}
    }
}