@use "../base/" as *;
@use "../partials/" as *;

.signup-form{
    padding-top: 200px;
    form{
        width: 24rem;
        .btn{font-size: .9rem;}
    }
}


@media (max-width:576px) {
    .signup-form{
        form{
            width: 100%;
            .btn{font-size: .9rem;}
        }
    }
}